{% load i18n %}
{% extends "base.html" %}

{% block headtitle %}{% trans "404 - Page Not Found" %}{% endblock %}

{% block head %}
  <style>
    #oops {
      text-align: center;
      margin-top: 1.5em;
    }
    #oops img {
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    #oops h4 {
      margin: 1.5em auto;
    }
  </style>
{% endblock %}

{% block body %}
{% include "header.html" %}

<div id="oops">
  <img
    src="/static/images/html5_fist.png"
    width="256"
    height="268"
    title="{% trans "I pity da foo who doesn't use HTML5!" %}"
    alt="{% trans "I pity da foo who doesn't use HTML5!" %}"
  />
  <h4>{% trans "Oops!! We didn't find any HTML<sub>5</sub> resources here." %}</h4>
</div>

  {% include "footer.html" %}
{% endblock %}
